<launch>
    <arg name="urdf" default="/usr/local/share/airbot_play/airbot_play_v2_1/urdf/airbot_play_v2_1_with_gripper.urdf" />
    <arg name="interface" default="can0" />
    <arg name="end_mode" default="gripper" />
    <arg name="forearm_type" default="DM" />
    <arg name="use_planning" default="true" />
    <arg name="use_joy" default="false" />
    <node name="airbot_arm_ros" pkg="ros_interface" type="airbot_arm_ros" output="screen">
        <param name="urdf" value="$(arg urdf)" />
        <param name="interface" value="$(arg interface)" />
        <param name="end_mode" value="$(arg end_mode)" />
        <param name="forearm_type" value="$(arg forearm_type)" />
        <param name="use_planning" value="$(arg use_planning)" />
    </node>
    <include file="$(find airbot_play_launch)/airbot_play_moveit.launch">
        <arg name="target_moveit_config" value="airbot_play_v3_gripper_gazebo_all_config" />
        <arg name="use_basic" value="true" />
        <arg name="use_rviz"  value="true" />
        <arg name="arm_cmd_topic" value="/airbot_play/set_target_joint_q" />
        <arg name="frequency" value="200" />
    </include>
</launch>